p{
    font-size: medium;
}
h1{
    color: red;
    font-weight: bold;
    font-style: italic;
}
p span{
    color: red;
}
ol{
    list-style-type: upper-roman;
}
h2{
    color: grey;
    text-decoration: underline grey;
}
a{
    color: greenyellow;
}
